/*トップ・ログアウトボタンの配置・スタイル*/
.form 
{
  text-align:right;
}
.form a
{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
 /*採点結果履歴一覧のスタイルのスタイル*/
.box
{
    width: 600px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
}
.box
{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
/*採点結果履歴一覧テーブルのスタイル */
table
{
    width: 100%;
    border-collapse: collapse;
  	font-size: 12px;
}
table td 
{
    border: 1px solid #ddd;
    background-color:  #F5F5F5;
    color: #111111;
    padding: 6px;
}
table th
 {
    border: 1px solid #ddd;
    background-color: #CBFFD3;
    color: #111111;
    padding: 6px;
}